.page-layout {
    display: flex;
    justify-content: center;
    .main-layout {
        width: 768px;
        min-height: 100vh;
        border-left: 1px solid rgb(212, 212, 212);
        border-right: 1px solid rgb(212, 212, 212);
        overflow: hidden;
    }
}